
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    background-image: url('/static/images/bg-chile.png');
    background-size: cover;
    background-position: center;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #ffffffcc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

h2 {
    color: #0033A0;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #0033A0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #002F6C;
}

.options {
    margin-top: 15px;
}

.options a {
    display: inline-block;
    margin: 0 10px;
    color: #D52B1E;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

body {
    background-image: url('fondo2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(255, 255, 255, 0.6); /* Blanco translúcido */
    z-index: -1;
}
